/* Set the page width to 1000px */
div.content {
	margin: 0 auto;
	width:  1000px;
}

/* CSS for constructing banners */
.banner {
	text-align:    center;
	margin-bottom: 40px;
}
.sub-banner {
	text-align:    center;
	margin-bottom: 10px;
	font-weight:   400;
}


/* CSS for constructing stat tables */
.stats {
	margin-bottom: 15px;
	width:         100%;
}
.stats-head {
	font-size:  200%;
	text-align: center;
}
.stats-title {
	text-align: left;
	width:      250px;
}
.stats-info {
	text-align: left;
}

/* CSS to ensure the unlocker does not break the tables */
#dynamic-elements {
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP printers */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
	word-break: break-all;
}

/* CSS for managing the search bars at the bottom */
div.search-form {
	display: table;
}
form.search-form-tr, div.search-form-tr {
	display: table-row;
}
span.search-form-td {
	display:       table-cell;
	padding-left:  10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.search {
	align:      center;
	margin:     0px auto;
	margin-top: 40px;
}
